:root {
  --r-main-font: "Fira Sans", sans-serif;
  --r-heading-font: "Fira Sans", sans-serif;
}

/* optional: Überschriften ebenfalls explizit */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal p {
  text-align: left;
}
