<nav>
<ul>
  <li><a href="{{ '/pages/020_Einleitung' | relative_url }}">Einleitung</a></li>
  <li><a href="{{ '/pages/021_noapp' | relative_url }}">No app</a></li>
  <li><a href="{{ '/pages/024_Ablenkung' | relative_url }}">Ablenkung</a></li>
  <li><a href="{{ '/pages/025_Anders' | relative_url }}">Anders</a></li>
  <li><a href="{{ '/pages/026_Nomenu' | relative_url }}">No menu</a></li>
  <li><a href="{{ '/pages/030_Spracheingabe' | relative_url }}">Spracheingabe</a></li>
  <li><a href="{{ '/pages/040_Dingsi' | relative_url }}">Dingsi</a></li>
  <li><a href="{{ '/pages/050_LeichteSprache' | relative_url }}">Neu in Windows</a></li>
  <li><a href="{{ '/pages/060_Examples' | relative_url }}">Examples</a></li>
  <li><a href="{{ '/pages/070_Vergleich' | relative_url }}">Vergleich</a></li>
  <li><a href="{{ '/pages/075_Nerdistan' | relative_url }}">Nerdistan</a></li>
  <li><a href="{{ '/pages/080_Ausgabe' | relative_url }}">Ausgabe</a></li>
</ul>
</nav>
