<nav>
<ul>
  <li><a href="{{ '/pages/020_Einleitung.html' | relative_url }}">Einleitung</a></li>
  <li><a href="{{ '/pages/021_noapp.html' | relative_url }}">No app</a></li>
  <li><a href="{{ '/pages/024_Ablenkung.html' | relative_url }}">Ablenkung</a></li>
  <li><a href="{{ '/pages/025_Anders.html' | relative_url }}">Anders</a></li>
  <li><a href="{{ '/pages/026_Nomenu.html' | relative_url }}">No menu</a></li>
  <li><a href="{{ '/pages/030_Spracheingabe.html' | relative_url }}">Spracheingabe</a></li>
  <li><a href="{{ '/pages/040_Dingsi.html' | relative_url }}">Dingsi</a></li>
  <li><a href="{{ '/pages/050_LeichteSprache.html' | relative_url }}">Leichte Sprache</a></li>
  <li><a href="{{ '/pages/060_Examples.html' | relative_url }}">Examples</a></li>
  <li><a href="{{ '/pages/070_Vergleich.html' | relative_url }}">Vergleich</a></li>
  <li><a href="{{ '/pages/075_Nerdistan.html' | relative_url }}">Nerdistan</a></li>
  <li><a href="{{ '/pages/080_Ausgabe.html' | relative_url }}">Ausgabe</a></li>
</ul>
</nav>
