<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sidebar</title>
</head>
<body>
  <aside>
    <nav>
      <ul>
        <li><a href="pages/020_Einleitung.md">020_Einleitung</a></li>
        <li><a href="pages/021_noapp.md">021_noapp</a></li>
        <li><a href="pages/024_Ablenkung.md">024_Ablenkung</a></li>
        <li><a href="pages/025_Anders.md">025_Anders</a></li>
        <li><a href="pages/026_Nomenu.md">026_Nomenu</a></li>
        <li><a href="pages/030_Spracheingabe.md">030_Spracheingabe</a></li>
        <li><a href="pages/040_Dingsi.md">040_Dingsi</a></li>
        <li><a href="pages/050_LeichteSprache.md">050_LeichteSprache</a></li>
        <li><a href="pages/060_Examples.md">060_Examples</a></li>
        <li><a href="pages/070_Vergleich.md">070_Vergleich</a></li>
        <li><a href="pages/075_Nerdistan.md">075_Nerdistan</a></li>
        <li><a href="pages/080_Ausgabe.md">080_Ausgabe</a></li>
      </ul>
    </nav>
  </aside>
</body>
</html>
