table th {
  border-bottom: 2px solid #999;
  background-color: linen;
  color: black;
}

table thead th {
  background-color: linen;
  color: black;
  font-weight: bold;
}

table {
    display: block;
    overflow-x: auto;
}
