table th {
  border-bottom: 2px solid #999;
  background-color: linen !important;
  color: black !important;
}

table thead th {
  background-color: linen !important;
  color: black !important;
  font-weight: bold;
}

table {
    display: block;
    overflow-x: auto;
}
