---
---

@import "minima";

body {
    box-sizing: border-box;
    max-width: 60ch;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    /* border: 16px solid #fff; */
    border: 16px solid Linen;
    box-shadow: 0 2px 8px rgba(1,1,1,.2);
    text-align: justify;
    hyphens: auto;
    line-height: 1.5;
    font-family: Cantarell;
    font-size: 35px;
    /* background-color: FloralWhite !important; */
    /* background-color: #fdfcf7; */
    background-color: Linen !important;
    color: #222 !important;
    /* color: darkblue !important; */
    .ls-break {
        display: block;
    }
}

@media (max-width: 700px) and (orientation: portrait) {
    body {
        max-width: none;
        margin: 0;
        border-width: 8px;
        font-size: 0.8rem; /* PC gleich, Handy kleiner */
    }
    .ls-break {
        display: none !important;
    }
    .sidebar {
      display: none;
    }
}

html {
    display: flex;
    justify-content: center;
}

@import "minima";

.highlight {
    background: #E9DED3 !important;
}

.highlight pre,
.highlight code {
    background: transparent !important;
}

code {
    background-color: #E9DED3 !important;
}

h1 {
    color: #800000 !important;
}

h2 {
    color: #005F69 !important;
}

h3 {
    color: #005F69 !important;
}

pre {
    overflow-x: auto;
}

table thead th {
  background-color: #E9DED3 !important;
  color: black !important;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #E9DED3 !important;
}

/* Das ist ein Kommentar 
* {
    outline: 1px solid red;
}

code {
    outline: 3px solid blue;
}

code {
    overflow-wrap: break-word;
}
*/

.sidebar {
position: fixed;
left: 20px;
top: 20px;
width: 180px;
font-size: 16px;
line-height: 1.4;
}


.sidebar ul {
margin: 0;
padding-left: 1rem;
}
 
.sidebar li {
display: list-item;
margin-bottom: 0.5rem;
}
 
.sidebar a {
display: inline;
}


/*
.sidebar {
position: fixed;
left: 0;
top: 0;
width: 220px;
height: 100vh;
overflow-y: auto;
padding: 1rem;
}
 
.content {
max-width: 900px;
margin: 0 auto;
}
*/
