---
---

@import "minima";

body {
    max-width: 60ch;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    border: 16px solid #ccc;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    text-align: justify;
    hyphens: auto;
    line-height: 1.5;
    font-family: Cantarell;
    font-size: 26px;
}

@media (max-width: 800px) {
    body {
        max-width: none;
        margin: 2vm;
        padding: 2vm;
    }
}

html {
    display: flex;
    justify-content: center;
}

@import "minima";

.highlight {
    background: #f6f8fa;
}

h1 {
    color: red !important;
}

h2 {
    color: blue !important;
}

pre {
    overflow-x: auto;
}

table {
    display: block;
    overflow-x: auto;
}

/* Das ist ein Kommentar 
* {
    outline: 1px solid red;
}

code {
    outline: 3px solid blue;
}

code {
    overflow-wrap: break-word;
}
*/
