---
---

@import "minima";

.page-content .wrapper {
    max-width: 60ch;
}

body {
    text-align: justify;
    hyphens: auto;
    line-height: 1.5;
    font-family: Cantarell;
    font-size: 26px;
}

@media (max-width: 600px) {
    body {
        max-width: none;
    }
}

@import "minima";

.highlight {
    background: #f6f8fa;
}

h1 {
    color: red !important;
}
